In [71]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd 
import numpy as np

In [72]:
df = pd.read_csv("ZILL-Z77006_MLP.csv", index_col=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 81 entries, 2016-06-30 to 2008-10-31
Data columns (total 1 columns):
Value    81 non-null float64
dtypes: float64(1)
memory usage: 972.0+ bytes

In [73]:
# 
np.array(df['Value'])

array([549000., 536250., 587450., 589000., 620000., 620000., 629000.,
       632500., 619900., 589700., 579000., 549900., 525000., 505000.,
       499900., 475000., 489000., 465000., 464750., 439000., 449000.,
       419900., 425000., 425000., 449000., 450000., 449995., 430000.,
       424999., 389000., 399000., 399000., 414900., 379900., 379000.,
       359000., 365000., 355000., 349000., 349900., 349000., 349000.,
       359000., 349000., 335000., 345900., 349900., 349900., 345000.,
       346000., 342999., 347000., 349900., 353100., 359000., 359000.,
       361200., 359900., 359900., 359900., 365000., 369000., 369000.,
       379000., 385000., 375000., 375000., 365000., 370000., 379900.,
       369900., 379000., 369000., 365000., 370000., 379900., 349500.,
       329900., 339900., 339900., 339900.])

In [55]:
df['2016-06-30':'2014-01-1']

               Value
Date
2016-06-30  549000.0
2016-05-31  536250.0
2015-12-31  587450.0
2015-10-31  589000.0
2015-02-28  620000.0
2015-01-31  620000.0
2014-12-31  629000.0
2014-11-30  632500.0
2014-10-31  619900.0
2014-09-30  589700.0
2014-08-31  579000.0
2014-07-31  549900.0
2014-06-30  525000.0
2014-05-31  505000.0
2014-04-30  499900.0
2014-03-31  475000.0
2014-02-28  489000.0
2014-01-31  465000.0